.login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html,
body {
    height: 100%;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}

body {
    background: #0ff1ce !important;
}

#submitButtonName {
    background: #cfaa59;
    color: black;
    border: 0;
}

#mainRow {
    font-family: 'Work Sans', sans-serif !important;
}

#form-control,
#username {
    background-color: #cf6f59;
    font-family: 'Work Sans', sans-serif !important;
}

#username {
    border-left-color: #cfaa59;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    padding-left: 5px;
}

#username::placeholder {
    color: black;
    padding-left: 5px;
}

#form-control:hover {
    transform: scale(1.1);
}

#form-control {
    border: 0;
}

label {
    font-size: 20px;
}

#col1 {
    font-family: 'Work Sans', sans-serif !important;
}

#ib-largo {
    position: absolute;
    bottom: 38%;
    right: 25%;
    width: 25vh;
    height: 25vh;
}

#usersOnline {
    padding-bottom: 10px;
}

#message-container {
    width: 80%;
    max-width: 1200px;
}

#message-container div {
    background-color: #CCC;
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: #FFF;
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
    border: 0;
}